# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R

#### Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib

| Data Science Tools |
| ---------------- |
|1. Jupyter Notebooks |
|2. RStudio           |
|3. VS Code           |

### Arithmetic Expression Examples in Python

In Python, arithmetic expressions combine numbers and operators to perform calculations. Let's explore some common examples:

In [ ]:
### Create a code cell to multiply and add numbers
(3*4)+5

In [43]:
###  Create a code cell to convert minutes to hours
hours = minutes / 60
minutes = 200

print(hours)

3.3333333333333335

## Author
* *[Lakshmi Holla]*
* *[
Niveditha Pandi]*

**Objectives:**

* **List popular languages for Data Science:** Python, R, SQL, Julia, etc.
* **Introduce common libraries used in Data Science:** NumPy, pandas, matplotlib, scikit-learn, ggplot2, etc.
* **Explore fundamental data types and structures:** Numbers, strings, lists, dictionaries, arrays, dataframes.
* **Demonstrate basic arithmetic operations and expressions:** Calculations in Python.
* **Convert units of time:** Minutes to hours.